%{{ openvpn_server_service_group }} ALL=(ALL:ALL) NOPASSWD: /usr/sbin/iptables
%{{ openvpn_server_service_group }} ALL=(ALL:ALL) NOPASSWD: /usr/sbin/brctl
%{{ openvpn_server_service_group }} ALL=(ALL:ALL) NOPASSWD: /usr/sbin/ifconfig
%{{ openvpn_server_service_group }} ALL=(ALL:ALL) NOPASSWD: /usr/sbin/route
